* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fefdf8;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 3rem;
    background-color: #fdf4c6;
    border-radius: 20px;
    box-shadow: 0px 0px 40px #ffd500;
    
}

form>* {
    border: none;
    border-radius: 5px;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

label {
    margin-top: 2rem;
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
}

input {
    font-size: 0.9rem;
    padding: 0 1rem 0 1rem;
    margin-bottom: 0.5rem;
    min-height: 2.2rem;
}

input:user-invalid {
    border: 1px solid red;
}

input:user-valid {
    border: 1px solid green;
}

button {
    min-height: 3rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2.5rem;
    cursor: pointer;
    background-image: linear-gradient(90deg, #ffe259, #ffa751);
    color: #fff;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-form {
}

.label {}

.mandatory-sign {
    text-shadow: 1px 1px#ffa751;
    color: rgb(255, 1, 1);
}

.input {}

.valid-rule {
    font-size: 0.8rem;
}

.hint {
    margin-top: 2rem;
    font-size: 0.7rem;
}

.btn {}