* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: 3px solid #45b1ee
}

body {
    font-family: sans-serif;
    /* fallback for old browsers */
    background: #FDC830;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #F37335, #FDC830);
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.heading {
    margin-bottom: 2rem;
    text-align: justify;
}

.form {
    min-width: 25vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.input {
    padding: 0.7rem;
    border: none;
    min-height: 2rem;
    border-radius: 5px;
    margin-bottom: 1.2rem;
}

.password-input {
    margin-bottom: 0.2rem;
}

.hint {
    font-family: monospace;
}

.btn {
    cursor: pointer;
    padding: 2rem;
    margin-top: 2rem;
    min-height: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #00000012;
    box-shadow: 0px 0px 5px #00000012;
    border-radius: 5px;
    border: none;
    color: #fff;
    transition: background-color 0.4s, box-shadow 0.4s;
}

.btn:hover {
    background-color: #00000020;
    box-shadow: 0px 0px 10px #00000020;
}
